footer {
  background-color: var(--light-tertiary-color);
}
.formulario {
  display: flex;
  flex-direction: column;
}

.formulario input {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.formulario textarea {
  margin-bottom: 2rem;
}

.formulario .btn__input {
  background-color: var(--light-tertiary-color);
  color: #0f2137;
}

.formulario .btn__input:hover {
  cursor: pointer;
  background-color: #0f2137;
  color: var(--light-tertiary-color);
}

footer .footer__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
}

footer .footer__content .footer__contact span {
  display: block;
  font-weight: 500;
}

footer .footer__content ul li {
  display: inline-block;
}

footer .footer__content ul a {
  display: inline-block;
  padding: 1rem;
}

footer .footer__content .footer__copyright {
  font-size: 1.4rem;
}
